{%  extends 'todo/base.html' %}

{% block content %}

    <div class="text-center">
        <h1 style="color: red">Завершенные задачи</h1>
    </div>

    <div style="width: 500px;">
        <ul class="list-group">
            {% for todo in todos %}
                <li class="list-group-item">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="{% url 'viewtodo' todo.id %}">
                            <span class="h5 text-danger">
                                {{ todo.title }}
                            </span>
                        </a>
                    </div>
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <span>
                            {{ todo.memo }}
                        </span>
                    </div>
                    <div style="display: inline-flex; position: absolute; top: 0px; right: 0px">
                        <span class="badge badge-secondary " style="background-color: red">{{ todo.datecompleted }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

